
.button {
  color: #fff;
  background-color: transparent;
  font-size: 16px;
  border-radius: 100px;
  width: 100%;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 5px;
  border-color: #fff;
}

.button.settings {
  border-color: #fff;
}

.button.download {
  border-color: #00aaff;
}

.button.donate {
  border-color: #7dff86;
}

.button.email {
  border-color: #ff3333;
}

.btn-active {
  border-color: #4CAF50 !important;
  color: white !important;
}

.btn-inactive {
  border-color: #f44336 !important;
  color: white !important;
}

.btn-warning {
  border-color: #ffd700 !important;
  color: #fff !important;
}

.btn-unsupported {
  border-color: #f44336 !important;
  color: white !important;
}

.btn-default {
  border-color: #808080 !important;
  color: #808080 !important;
}